
<!DOCTYPE html>
<html>
  <head>
    <title>Brussels Recipe</title>
  </head>

  <body>
    <h1> <%= @name %> </h1>

    <ul>
      <% @ingredients.each do |ingredient| %>
        <li> <%= ingredient %> </li>
      <% end %>
    </ul>

    <ul>
      <% @directions.each do |direction| %>
        <li> <%= direction %> </li>
      <% end %>
    </ul>

    <h1> <%= "Reviews" %> </h1>

    <ul>
      <% @reviews.each do |review| %>
        <p>Name: <%= review[:username] %> </p>
        <li>Rating: <%= review[:rating] %> </li>
        <li>Review: <%= review[:review] %> </li>
      <% end %>
    </ul>

  </body>
</html>
